<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<script src="../../../resources/js-test-pre.js"></script>
</head>
<body>
<script src="resources/regress-pre.js"></script>
<script src="script-tests/string-repeat-arith.js"></script>
<script src="resources/regress-post.js"></script>
<script src="../../../resources/js-test-post.js"></script>
</body>
</html>
